@import "_variables.scss";

// FOOTER
.littleTitle {
    text-align: center;
    color: #fff;
    p {
        font-size: 2vw;
        text-shadow: .1vw .1vw .1vw #111;
        line-height: 4vw;
    }
}

footer {
    background: lighten($color-supplementary, 25%);
    p {
        font-size: 1.6vw;
        color: #000;
        line-height: 2vw;
        text-align: center;
        padding: 2vw 0;
        margin-top: -3vw;
    }
    a {
        text-decoration: none;
        color: #000;
        font-size: 1.6vw;
    }
}