@import "_variables.scss";

// NAVIGATION
.navigation {
    margin-right: 3vw;
}

#clock {
    color: $color-supplementary !important; 
    font-size: 2vw;
    font-weight: 700;
    text-shadow: 0.07vw 0.07vw 0.09vw #222;
    margin: auto 0;
    margin-left: 2vw;
}

.navigationElements a {
    color: darken($color-main, 15%) !important; 
    font-size: 2vw;
    font-weight: 700;
    margin-left: 1vw;
    margin-right: .6vw;
}